 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="devices.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Cinnamon HAB</title>

    <!-- Custom Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="aux navbar-custom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 intro-text">
                    <div class="navbar-header page-scroll">                    
                        <a class="navbar-brand">CinnamonHAB</a>
                    </div>
                </div>
                    <!--<div class="col-lg-6 intro-text">
                        <div class="logout-button">
                            <%= button_to "Logout", {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary" %>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="refresh-button">
                        <button class="btn btn-primary" id="refresh" onclick="refresh()">Refresh</button>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-7 intro-text">
                    <span class="name" id="devices">Devices</span>
                </div>
                <!--
                <div class="col-lg-5 intro-text">
                    <div class="row">
                        <span class="name" id="controls">Controls</span>                       
                    </div>
                    <div class="row">
                        <span class="name" id="modes">Modes</span>                       
                    </div>
                </div>
                -->
            </div>
                                   
        </div>
    </header>

</body>
<!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; CinnamonHAB 2016-2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var url_path = "";
        document.body.onload = getItems();
        var itemClass = function (state, type, name, label, tags, groupNames) {
            this.state = state;
            this.type = type;
            this.name = name;
            this.label = label;
            this.tags = tags;
            this.groupNames = groupNames;
        }
        var deviceArray = new Array();
        var controlArray = new Array();
        var modeArray = new Array();
        var numDevices = 0;
        var numControls = 0;
        var numModes = 0;

        var numLights = 0;
        var numLightsOn = 0;

        var numDimmers = 0;

        function refresh() {
            
            deviceArray = new Array();
            controlArray = new Array();
            modeArray = new Array();
            numDevices = 0;
            numControls = 0;
            numModes = 0;
            numLights = 0;
            numLightsOn = 0;
            numDimmers = 0;
            var devs = document.getElementById("devices");
            while (devs.hasChildNodes() && devs.children.length > 0) {
                devs.removeChild(devs.lastChild);
            }
            var modes = document.getElementById("modes");
            while (modes.hasChildNodes() && modes.children.length > 0) {
                modes.removeChild(modes.lastChild);
            }
            var controls = document.getElementById("controls");
            while (controls.hasChildNodes() && controls.children.length > 0) {
                controls.removeChild(controls.lastChild);
            }
            getItems();
        }
        
        function create(data) {
            for(var i = 0; i <Object.keys(data).length; i++) {
                if(data[i].type == "Group") {
                    
                }else {
                    if(data[i].name.includes("action")) {
                        if(data[i].label.includes("Mode") || data[i].label.includes("mode")) {
                            addModeToArray(data[i]);
                            generateModeHTML(modeArray[numModes-1], numModes-1);
                        }else {
                            addControlToArray(data[i]);
                            generateControlHTML(controlArray[numControls-1], numControls-1);
                        }
                    }else {
                        addDeviceToArray(data[i]);
                        generateDeviceHTML(deviceArray[numDevices-1], numDevices-1);                   
                    }
                }
            }

            if(numDevices == 0) {
                var row = document.createElement("div");
                row.setAttribute('class','row');
                row.setAttribute('id', mode.name);
                var col = document.createElement("div");
                col.setAttribute('class','col-lg-6');
                var empty = document.createElement('p');
                empty.innerHTML = "No Devices Found";
                devices.appendChild(empty);
            }

            if(numControls == 0) {
                var empty = document.createElement('p');
                empty.innerHTML = "No Controls Found";
                controls.appendChild(empty);
            }

            if(numModes == 0) {
                var empty = document.createElement('p');
                empty.innerHTML = "No Modes Found";
                modes.appendChild(empty);
            }
        }
        //state, type, name, label, tags, groupNames
        function addModeToArray(mode) {
            if(mode.state == "NULL") {
                modeArray[numModes] = new itemClass("OFF", mode.type, mode.name, mode.label, mode.tags, mode.groupNames);
                updateState(modeArray[numModes].name, modeArray[numModes].state);
            }
            else
                modeArray[numModes] = new itemClass(mode.state, mode.type, mode.name, mode.label, mode.tags, mode.groupNames);
            numModes++;
        }
        //state, type, name, label, tags, groupNames
        function addControlToArray(control) {
            if(control.state == "NULL") {
                controlArray[numControls] = new itemClass("OFF", control.type, control.name, control.label, control.tags, control.groupNames);
                updateState(controlArray[numControls].name, controlArray[numControls].state);
            }
            else {
                console.log("ON");
                controlArray[numControls] = new itemClass(control.state, control.type, control.name, control.label, control.tags, control.groupNames);
            }
            numControls++;
        }
        //state, type, name, label, tags, groupNames
        function addDeviceToArray(device) {
            if(device.state == "NULL") {
                deviceArray[numDevices] = new itemClass("OFF", device.type, device.name, device.label, device.tags, device.groupNames);
                updateState(deviceArray[numDevices].name, deviceArray[numDevices].state);
            }
            else
                deviceArray[numDevices] = new itemClass(device.state, device.type, device.name, device.label, device.tags, device.groupNames);
            numDevices++;
            if(isLight(device)) {
                numLights++;
                if(isDeviceOn(device)) {
                    numLightsOn++;
                }
            }
        }

        function isLight(device) {
            if(device.label.includes("Light") || device.label.includes("Lamp") || device.label.includes("lamp"))
                return true;
            else
                return false;
        }

        function isTV(device) {
            if(device.label.includes("TV"))
                return true;
            else
                return false;
        }

        function isDimm(device) {
            if(device.label.includes("Dimmer"))
                return true;
            else
                return false;
        }

        function isDeviceOn(device) {
            if(device.state == "ON")
                return true;
            else
                return false;
        }

        function generateModeHTML(mode, index) {
            var row = document.createElement("div");
            row.setAttribute('class','row');
            row.setAttribute('id', mode.name);
            var col = document.createElement("div");
            col.setAttribute('class','col-lg-2');
            var icon = generateIcon("mode", mode);
            col.appendChild(icon);
            row.appendChild(col);
            var col2 = document.createElement("div");
            col2.setAttribute('class','col-lg-7');
            var lab = generateLabel(mode);
            col2.appendChild(lab);
            row.appendChild(col2);
            var col3 = document.createElement("div");
            col3.setAttribute('class','col-lg-3');
            var b = generateFunctionButton("mode", mode, index);            
            col3.appendChild(b);
            row.appendChild(col3);
            
            //var lastItem = document.getElementById("modes");
            modes.appendChild(row);
        }
        function generateControlHTML(control, index) {
            var row = document.createElement("div");
            row.setAttribute('class','row');
            row.setAttribute('id', control.name);
            var col = document.createElement("div");
            col.setAttribute('class','col-lg-2');
            var icon = generateIcon("control", control);
            col.appendChild(icon);
            row.appendChild(col);
            var col2 = document.createElement("div");
            col2.setAttribute('class','col-lg-7');
            var lab = generateLabel(control);
            col2.appendChild(lab);
            row.appendChild(col2);
            var col3 = document.createElement("div");
            col3.setAttribute('class','col-lg-3');
            var b = generateFunctionButton("control", control, index);            
            col3.appendChild(b);
            row.appendChild(col3);
            
            //var lastItem = document.getElementById("controls");
            controls.appendChild(row);
        }
        function generateDeviceHTML(device, index) {
            var row = document.createElement("div");
            row.setAttribute('class','row');
            row.setAttribute('id', device.name);
            var col = document.createElement("div");
            col.setAttribute('class','col-lg-1');
            var icon = generateIcon("device", device);
            col.appendChild(icon);
            row.appendChild(col);
            var col2 = document.createElement("div");
            col2.setAttribute('class','col-lg-4');
            var lab = generateLabel(device);
            col2.appendChild(lab);
            row.appendChild(col2);
            var col3 = document.createElement("div");
            col3.setAttribute('class','col-lg-3');
            var b = generateFunctionButton("device", device, index);            
            col3.appendChild(b);
            row.appendChild(col3);
            
            //var lastItem = document.getElementById("devices");
            devices.appendChild(row);
        }
        function generateIcon(type,item) {
            if(type == "device" || type == "control") {
                if(item.type == "Switch") {
                    var icon = document.createElement("img");
                    icon.setAttribute('class','icon');
                    if(isLight(item)) {
                        if(item.state == "OFF")
                            icon.setAttribute('src','<%= asset_path('light_OFF_dark.png') %>');
                        else
                            icon.setAttribute('src','<%= asset_path('light_ON.png') %>');

                    }
                    else if(item.label.includes("TV")) {
                        if(item.state == "OFF")
                            icon.setAttribute('src','<%= asset_path('tv_OFF.png') %>');
                        else
                            icon.setAttribute('src','<%= asset_path('tv_ON.png') %>');
                    }else { //Default
                        if(item.state == "OFF")
                            icon.setAttribute('src','<%= asset_path('light_OFF_dark.png') %>');
                        else
                            icon.setAttribute('src','<%= asset_path('light_ON.png') %>');
                    }                
                    icon.setAttribute('width','50');
                    icon.setAttribute('height','50');
                    icon.setAttribute('id', item.name+'icon')
                    return icon;
                }else {
                    //Default
                    var icon = document.createElement("img");
                    icon.setAttribute('class','icon');
                    icon.setAttribute('src','<%= asset_path('light_OFF_dark.png') %>');
                    icon.setAttribute('width','50');
                    icon.setAttribute('height','50');
                    icon.setAttribute('id', item.name+'icon')
                    return icon;
                }
            }else {
                if(item.label.includes("Romantic")) {
                    var icon = document.createElement("img");
                    icon.setAttribute('class', 'icon');
                    if(item.state == "OFF")
                            icon.setAttribute('src','<%= asset_path('heart_OFF.png') %>');
                        else
                            icon.setAttribute('src','<%= asset_path('heart_ON.png') %>');
                    icon.setAttribute('width','50');
                    icon.setAttribute('height','50');
                    icon.setAttribute('id', item.name+'icon')
                    return icon;
                }else { //Default
                    var icon = document.createElement("img");
                    icon.setAttribute('class', 'icon');
                    icon.setAttribute('src', '<%= asset_path('heart_ON.png') %>');
                    icon.setAttribute('width','50');
                    icon.setAttribute('height','50');
                    icon.setAttribute('id', item.name+'icon')
                    return icon;
                }
            }
        }
        function generateLabel(item) {
            var lab = document.createElement('span');
            lab.innerHTML = item.label;
            lab.setAttribute('class','labels');
            lab.setAttribute('id', item.name+'label')
            return lab;
        }
        function generateFunctionButton(type, item, index) {
            if(item.type == "Switch") {

                var b = document.createElement('button');
                b.setAttribute('class', 'btn btn-primary');
                b.setAttribute('id', item.name+'button')
                if(type == "control") {
                    b.setAttribute('onclick', 'allLights('+index+')');
                }else if (type == "mode") {
                    b.setAttribute('onclick', 'romanticMode('+index+')');
                }else {
                    b.setAttribute('onclick','switchIt('+index+')');
                }
                b.innerHTML = 'Turn ON/OFF';
                return b;
            }else if(item.type == "Dimmer") {
                numDimmers++;
                var div = document.createElement('input');
                div.type = "range";
                div.setAttribute('id', item.name+'input');
                div.setAttribute('min', '0');
                div.setAttribute('max', '100');
                if(item.state == "ON")
                    div.setAttribute('value', '100');
                else
                    div.setAttribute('value', '0');
                div.setAttribute('oninput', 'dimmIt(this.value, '+index+', '+numDimmers+')');

                return div;
                
            }else {
                //Default
                var b = document.createElement('button');
                b.setAttribute('class', 'btn btn-primary');
                b.setAttribute('id', item.name+'button')
                b.setAttribute('onclick','switchIt(this.id,'+index+')');
                b.innerHTML = 'Turn ON/OFF';
                return b;
            }
        }

        function dimmIt(val, index, numDim){
            var light = "Light "+numDim;
            if(val > 0) {
                turnDimmerOn(index);
                for(var i=0; i < numDevices;i++) {
                    if(deviceArray[i].label == light) {
                        turnLightOn(i);
                        break;
                    }
                }                        
            }else {
                turnDimmerOff(index);
                for(var i=0; i < numDevices;i++) {
                    if(deviceArray[i].label == light) {
                        turnLightOff(i);
                        break;
                    }
                }                        
            }
        }

        function setDimm(val, index) {
            document.getElementById(deviceArray[index].name+"input").value= val;
        }

        function allLights(index) {
            getState(controlArray[index].name);
            
            /*turnOffRomanticMode();
            var icon = document.getElementById(controlArray[index].name+"icon");
            if(controlArray[index].state == "ON") {
                controlArray[index].state = "OFF";
                icon.src = "<%= asset_path('light_OFF_dark.png') %>";
            }
            else {
                controlArray[index].state = "ON";
                icon.src = "<%= asset_path('light_ON.png') %>";
            }
            for(var i=0; i< numDevices;i++) {
                if(isLight(deviceArray[i])) {
                    if(controlArray[index].state == "OFF") {
                        if(isDeviceOn(deviceArray[i])) {
                            turnLightOff(i);
                        }
                    }
                    else {
                        if(!isDeviceOn(deviceArray[i])) {
                            turnLightOn(i);
                        }
                    }
                }
            }*/
            
        }
        function turnOffAllLightsControl() {
            for(var i=0; i< numControls;i++) {
                if(controlArray[i].label == "All Lights") {
                    if(controlArray[i].state == "ON") {
                        controlArray[i].state = "OFF";
                        var icon = document.getElementById(controlArray[i].name+"icon");
                        icon.src = "<%= asset_path('light_OFF_dark.png') %>";
                        updateState(controlArray[i].name, controlArray[i].state);
                        sendCommand(controlArray[i].name, controlArray[i].state);
                    }
                    break;
                }
            }
        }
        function turnOnAllLightsControl() {
            for(var i=0; i< numControls;i++) {
                if(controlArray[i].label == "All Lights") {
                    if(controlArray[i].state == "OFF") {
                        controlArray[i].state = "ON";
                        var icon = document.getElementById(controlArray[i].name+"icon");
                        icon.src = "<%= asset_path('light_ON.png') %>";
                        updateState(controlArray[i].name, controlArray[i].state);
                        sendCommand(controlArray[i].name, controlArray[i].state);
                    }
                    break;
                }
            }
        }

        function turnLightOn(index) {
            if(deviceArray[index].state = "OFF") {
                var icon = document.getElementById(deviceArray[index].name+"icon");
                icon.src = "<%= asset_path('light_ON.png') %>";
                deviceArray[index].state = "ON";
                numLightsOn++;
                if(numLightsOn == numLights)
                    turnOnAllLightsControl();
                updateState(deviceArray[index].name, deviceArray[index].state);
                sendCommand(deviceArray[index].name, deviceArray[index].state);
            }
        }

        function turnLightOff(index) {
            if(deviceArray[index].state = "ON") {
                var icon = document.getElementById(deviceArray[index].name+"icon");
                icon.src = "<%= asset_path('light_OFF_dark.png') %>";
                deviceArray[index].state = "OFF";
                numLightsOn--;
                turnOffAllLightsControl();
                updateState(deviceArray[index].name, deviceArray[index].state);
                sendCommand(deviceArray[index].name, deviceArray[index].state);
            }
        }

        function turnDimmerOn(index) {
            var icon = document.getElementById(deviceArray[index].name+"icon");
            icon.src = "<%= asset_path('light_ON.png') %>";
            deviceArray[index].state = "ON";
            updateState(deviceArray[index].name, deviceArray[index].state);
            sendCommand(deviceArray[index].name, deviceArray[index].state);
        }

        function turnDimmerOff(index) {
            var icon = document.getElementById(deviceArray[index].name+"icon");
            icon.src = "<%= asset_path('light_OFF_dark.png') %>";
            deviceArray[index].state = "OFF";
            updateState(deviceArray[index].name, deviceArray[index].state);
            sendCommand(deviceArray[index].name, deviceArray[index].state);
        }

        function turnTVOn(index) {
            var icon = document.getElementById(deviceArray[index].name+"icon");
            icon.src = "<%= asset_path('tv_ON.png') %>";
            deviceArray[index].state = "ON";
            updateState(deviceArray[index].name, deviceArray[index].state);
            sendCommand(deviceArray[index].name, deviceArray[index].state);
        }

        function turnTVOff(index) {
            var icon = document.getElementById(deviceArray[index].name+"icon");
            icon.src = "<%= asset_path('tv_OFF.png') %>";
            deviceArray[index].state = "OFF";
            updateState(deviceArray[index].name, deviceArray[index].state);
            sendCommand(deviceArray[index].name, deviceArray[index].state);
        }

        function romanticMode(index) {
            var lightsOn = 0;
            var dimmsOn = 0;
            turnOffAllLightsControl();
            for(var i=0; i< numDevices;i++) {
                if(isLight(deviceArray[i])) {
                    if(modeArray[index].state == "ON") {
                        turnLightOff(i);
                    }
                    else {
                        if(lightsOn == 0) {
                            turnLightOn(i);
                            lightsOn = 1;
                        }else {
                            turnLightOff(i);
                        }
                    }
                }else if(isTV(deviceArray[i])) {
                    if(modeArray[index].state == "ON") {
                        turnTVOff(i);
                    }
                    else {
                        turnTVOn(i);
                    }
                }else if(isDimm(deviceArray[i])) {
                    if(modeArray[index].state == "ON") {
                        turnDimmerOff(i);
                        setDimm(0, i);
                    }
                    else {
                        if(dimmsOn == 0) {
                            console.log("!");
                            turnDimmerOn(i);
                            setDimm(50, i);
                            dimmsOn = 1;
                        }else {
                            turnDimmerOff(i);
                            setDimm(0, i);
                        }
                    }
                }
            }
            if(modeArray[index].state == "ON") {
                turnOffRomanticMode(index);
            }
            else {
                turnOnRomanticMode(index);
            }                            
        }

        function turnOffRomanticMode(index) {
            if(modeArray[index].label == "Romantic mode") {
                if(modeArray[index].state == "ON") {
                    modeArray[index].state = "OFF";
                    var icon = document.getElementById(modeArray[index].name+"icon");
                    icon.src = "<%= asset_path('heart_OFF.png') %>";
                    updateState(modeArray[index].name, modeArray[index].state);
                    sendCommand(modeArray[index].name, modeArray[index].state);
                }
            }
        }

        function turnOnRomanticMode(index) {
            if(modeArray[index].label == "Romantic mode") {
                if(modeArray[index].state == "OFF") {
                    modeArray[index].state = "ON";
                    var icon = document.getElementById(modeArray[index].name+"icon");
                    icon.src = "<%= asset_path('heart_ON.png') %>";
                    updateState(modeArray[index].name, modeArray[index].state);
                    sendCommand(modeArray[index].name, modeArray[index].state);
                }
            }
        }

        function turnOffRomanticMode() {
            for(var i=0; i< numModes;i++) {
                if(modeArray[i].label == "Romantic mode") {
                    if(modeArray[i].state == "ON") {
                        modeArray[i].state = "OFF";
                        var icon = document.getElementById(modeArray[i].name+"icon");
                        icon.src = "<%= asset_path('heart_OFF.png') %>";
                        updateState(modeArray[i].name, modeArray[i].state);
                        sendCommand(modeArray[i].name, modeArray[i].state);
                        
                    }
                    break;
                }
            }
        }
        
        function switchIt(index) {
            turnOffRomanticMode();            
            if (deviceArray[index].state == "ON") {
                if(isLight(deviceArray[index])) {
                    turnLightOff(index);
                }else if (isTV(deviceArray[index])) {
                    turnTVOff(index);
                }else { //default
                    var icon = document.getElementById(deviceArray[index].name+"icon");
                    icon.src = "<%= asset_path('light_OFF_dark.png') %>";
                    updateState(deviceArray[index].name, deviceArray[index].state);
                    sendCommand(deviceArray[index].name, deviceArray[index].state);

                }
            }
            else {
                if(isLight(deviceArray[index])) {
                    turnLightOn(index);
                }else if (isTV(deviceArray[index])) {
                    turnTVOn(index);
                }else { //default
                    var icon = document.getElementById(deviceArray[index].name+"icon");
                    icon.src = "<%= asset_path('light_ON.png') %>";
                    updateState(deviceArray[index].name, deviceArray[index].state);
                    sendCommand(deviceArray[index].name, deviceArray[index].state);
                }
            }
            
        }

        function generateRemoveDeviceButton(device, index) {
            var b = document.createElement('button');
            b.setAttribute('class', 'btn btn-primary');
            b.setAttribute('id', device.name+'removebutton')
            b.setAttribute('onclick','removeIt('+index+')'); //\'device\',
            b.innerHTML = 'Remove Device';
            return b;
        }

        function removeIt(index) {
            deleteItem(deviceArray[index].name);
            for(var i=index; i < numDevices; i++) {
                deviceArray[index] = deviceArray[index+1];
            }
            numDevices--;
        }

        function sendAction(action)
        {
            var request = $.ajax ( {
                type       : "POST",
                url        : url_path+"/rest/sendaction",
                data       : action,
                headers    : { 'Content-Type': 'text/plain', 'Accept': 'text/plain' },
            });
            request.done( function(data) { 
                console.log( "Success: Status=" + data );
            });
            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        
        function getItems()
        {
            var request = $.ajax ( {
                type       : "GET",
                url        : url_path+"/rest/getitems",
                headers    : { "Accept": "text/plain"},
            });
            request.done( function(data) { 
                console.log( "Success: Status=" + data );
                create(data);
            });
            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }

        function updateState( item, txtNewState ) {
            var request = $.ajax ( {
                type       : "PUT",
                url        : url_path+"/rest/updatestate" ,
                data       : item+" "+txtNewState,
                headers    : { 'Content-Type': 'text/plain', 'Accept': 'text/plain' },
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        function sendCommand( item, txtCommand ) {
            var request = $.ajax ( {
                type       : "POST",
                url        : url_path+"/rest/sendcommand" ,
                data       : item+" "+txtCommand,
                headers    : { 'Content-Type': 'text/plain', 'Accept': 'text/plain' },
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );

            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        function getState(item)
        {
            var request = $.ajax ( {
                type       : "POST",
                url        : url_path+"/rest/getstate",
                data       : item,
                headers    : { 'Content-Type': 'text/plain', "Accept": "text/plain"},
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
                if(item.includes("action")) {
                    if(data == "ON")
                        var obj = {"name":item, "state":"OFF"};
                    else
                        var obj = {"name":item, "state":"ON"};
                    var action = JSON.stringify(obj);
                    console.log(action);
                    sendAction(action);
                }
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }

        function deleteItem(item)
        {
            var request = $.ajax ( {
                type       : "DELETE",
                url        : "localhost:3000/rest/deleteitem",
                data       : item,
                headers    : { 'Content-Type': 'text/plain', "Accept": "text/plain"},
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );

            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        
        
    </script>
</html>   
