 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="devices.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Beta Presentation</title>

    <!-- Custom Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="aux navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand">cinnamon bun</a>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
                <div class="row" id="devices">
                    <div class="intro-text">
                        <span class="name">Devices</span>
                    </div>
                </div>
                <div class="row">
                	<div class="col-lg-2">
                		<div class="intro-text">
                			<span class="skills">Room 1</span>
                		</div>
                	</div>
                </div>
                <div class="row">
                	<div class="col-lg-2">
                		<div class="intro-text">
                			<span class="skills">Room 2</span>
                		</div>
                	</div>
                </div>
                 <div class="row">
                 		<div class="col-lg-1">
                			<img id="light5" src="<%= asset_path('light_green.png') %>"width="50" height="50">
                		</div>
               			<div class="col-lg-2">
                    		<div class="intro-text">
                      		  <span class="skills">All lights</span>
                    		</div>
               		 	</div>
                		<div class="col-lg-2">
                			<div class="intro-text">
                				<input onclick="allON()" type="button" id="myButton5"class="btn btn-primary" value="Lights ON"></input>
                                <script>
                                    function allON() {
                                        resetRomAll();
                                        for (var i=0;i < lamp_state.length;i++) {
                                            if(lamp_state[i] == "OFF") {
                                                lamp_state[i] = "ON";
                                                sendCommand( "ON", "s"+(i+1).toString() );
                                                var light = document.getElementById("light"+(i+1).toString());
                                                light.src = "<%= asset_path('light_ON.png') %>";
                                            }
                                        }
                                    }
                                </script>
                    		</div>
                		</div>
                        <div class="col-lg-2">
                            <div class="intro-text">
                                <input onclick="allOFF()" type="button" id="myButton6"class="btn btn-primary" value="Lights OFF"></input>
                                <script>
                                    function allOFF() {
                                        resetRomAll();
                                        for (var i=0;i < lamp_state.length;i++) {
                                            if(lamp_state[i] == "ON") {
                                                lamp_state[i] = "OFF";
                                                sendCommand( "OFF", "s"+(i+1).toString() );
                                                var light = document.getElementById("light"+(i+1).toString());
                                                light.src = "<%= asset_path('light_OFF_light.png') %>";
                                            }
                                        }
                                    }
                                </script>
                            </div>

                        </div>
                </div>
                <div class="row">
                	<div class="intro-text">
                        <span class="name">Modes</span>
                    </div>
                </div>
                	 <div class="row">
                	 	<div class="col-lg-1">
                			<img src="<%= asset_path('heart.png') %>"width="50" height="50">
                		</div>
               			<div class="col-lg-2">
                    		<div class="intro-text">
                      		  <span class="skills">Romantic</span>
                    		</div>
               		 	</div>
                        <div class="col-lg-2">
                            <img id="rom1" src="<%= asset_path('light_OFF_light.png') %>"width="50" height="50">
                        </div>
                		<div class="col-lg-2">
                			<div class="intro-text">
                				<input onclick="rom1()" type="button" id="myButton6"class="btn btn-primary" value="Room 1 ON/OFF"></input>
                        		<script>
                        		function rom1() {
                                    if(rom_state[0] == "OFF") {
                                        rom_state[0] = "ON";
                                        sendCommand( "ON", "action1" );
                                        var rom1 = document.getElementById("rom1");
                                        rom1.src = "<%= asset_path('light_ON.png') %>";
                                        var light1 = document.getElementById("light1");
                                        var light2 = document.getElementById("light2");
                                        if (lamp_state[0] == "OFF") {
                                            lamp_state[0] = "ON";
                                            sendCommand( "ON", "s1" );
                                            light1.src = "<%= asset_path('light_ON.png') %>";
                                        }
                                        if (lamp_state[1] == "ON") {
                                            lamp_state[1] = "OFF";
                                            sendCommand( "OFF", "s2" );
                                            light2.src = "<%= asset_path('light_OFF_light.png') %>";
                                        }
                                    }else {
                                        rom_state[0] = "OFF";
                                        sendCommand( "OFF", "action1" );
                                        var rom1 = document.getElementById("rom1");
                                        rom1.src = "<%= asset_path('light_OFF_light.png') %>";
                                        var light2 = document.getElementById("light2");
                                        if (lamp_state[0] == "ON" && lamp_state[1] == "OFF") {
                                            lamp_state[1] = "ON";
                                            sendCommand( "ON", "s2" );
                                            light2.src = "<%= asset_path('light_ON.png') %>";
                                        }
                                    }
    							}
                        		</script>
                    		</div>
                		</div>
                        <div class="col-lg-2">
                            <img id="rom2" src="<%= asset_path('light_OFF_light.png') %>"width="50" height="50">
                        </div>
                		<div class="col-lg-2">
                			<div class="intro-text">
                				<input onclick="rom2()" type="button" id="myButton7"class="btn btn-primary" value="Room 2 ON/OFF"></input>
                                <script>
                                function rom2() {
                                    if(rom_state[1] == "OFF") {
                                        rom_state[1] = "ON";
                                        sendCommand( "ON", "action2" );
                                        var rom2 = document.getElementById("rom2");
                                        rom2.src = "<%= asset_path('light_ON.png') %>";
                                        var light3 = document.getElementById("light3");
                                        var light4 = document.getElementById("light4");
                                        if (lamp_state[2] == "OFF") {
                                            lamp_state[2] = "ON";
                                            sendCommand( "ON", "s3" );
                                            light3.src = "<%= asset_path('light_ON.png') %>";
                                        }
                                        if (lamp_state[3] == "ON") {
                                            lamp_state[3] = "OFF";
                                            sendCommand( "OFF", "s4" );
                                            light4.src = "<%= asset_path('light_OFF_light.png') %>";
                                        }
                                    }else {
                                        rom_state[1] = "OFF";
                                        sendCommand( "OFF", "action2" );
                                        var rom2 = document.getElementById("rom2");
                                        rom2.src = "<%= asset_path('light_OFF_light.png') %>";
                                        var light4 = document.getElementById("light4");
                                        if (lamp_state[2] == "ON" && lamp_state[3] == "OFF") {
                                            lamp_state[3] = "ON";
                                            sendCommand( "ON", "s4" );
                                            light4.src = "<%= asset_path('light_ON.png') %>";
                                        }
                                    }
                                }
                                </script>
                    		</div>
                		</div>
                        <!--
                        <div class="col-lg-3">
                            <input onclick="callItems()" type="button" id="myButton8"class="btn btn-primary" value="Get Items"></input>
                            <script>
                            function callItems() {
                                getItems();
                            }
                            </script>
                        </div>
                        -->
                        <div class="col-lg-3">
                            <input onclick="tryCommand()" type="button" id="myButton8"class="btn btn-primary" value="Try Command"></input>
                            <script>
                            function tryCommand() {
                                sendCommand("s1", "ON");
                            }
                            </script>
                        </div>
                </div>                        
        </div>
    </header>

</body>
<!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Cinnamon Bun 2016-2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.body.onload = getItems();

        var numItems = 0;
        var itemArray = new Array(); 
        var itemClass = function (state, type, name, label, tags) {
            this.state = state;
            this.type = type;
            this.name = name;
            this.label = label;
            this.tags = tags;
        }
        function resetRom1() {
            if(rom_state[0] == "ON") {
                rom_state[0] = "OFF";
                sendCommand( "OFF", "action1" );
                var rom1 = document.getElementById("rom1");
                rom1.src = "<%= asset_path('light_OFF_light.png') %>";
            }
        }
        function resetRom2() {
            if(rom_state[1] == "ON") {
                rom_state[1] = "OFF";
                sendCommand( "OFF", "action2" );
                var rom2 = document.getElementById("rom2");
                rom2.src = "<%= asset_path('light_OFF_light.png') %>";
            }
        }
        function resetRomAll() {
            resetRom1();
            resetRom2();
        }
        function getItems()
        {
            var request = $.ajax ( {
                type       : "GET",
                url        : "http://localhost:3000/rest/getitems",
                headers    : { "Accept": "text/plain"},
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
                createItems(data);
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        function createItems(items) {
            for(var i = 0; i <Object.keys(items).length; i++) {
                if(items[i].type != "Group") {
                    addItemToArray(items[i]);
                    generateItemHTML(itemArray[numItems-1], numItems-1);                   
                }
            }
        }
        function generateItemHTML(item, index) {
            var row = document.createElement("div");
            row.setAttribute('class','row');
            row.setAttribute('id', item.name);
            var col = document.createElement("div");
            col.setAttribute('class','col-lg-1');
            var icon = generateIcon(item);
            col.appendChild(icon);
            row.appendChild(col);
            var col2 = document.createElement("div");
            col2.setAttribute('class','col-lg-2 intro-text');
            var lab = generateLabel(item);
            col2.appendChild(lab);
            row.appendChild(col2);
            var col3 = document.createElement("div");
            col3.setAttribute('class','col-lg-9');
            var b = generateButton(item, index);            
            col3.appendChild(b);
            row.appendChild(col3);
            
            var lastItem = document.getElementById("devices");
            devices.appendChild(row);
        }
        function generateIcon(item) {
            if(item.type == "Switch") {
                var icon = document.createElement("img");
                icon.setAttribute('class','icon');
                if(item.label.includes("Light")) {
                    if(item.state == "OFF")
                        icon.setAttribute('src','<%= asset_path('light_OFF_light.png') %>');
                    else
                        icon.setAttribute('src','<%= asset_path('light_ON.png') %>');
                }
                else if(item.label.includes("TV")) {
                    if(item.state == "OFF")
                        icon.setAttribute('src','<%= asset_path('tv_OFF.png') %>');
                    else
                        icon.setAttribute('src','<%= asset_path('tv_ON.png') %>');
                }else { //Temporary
                    if(item.state == "OFF")
                        icon.setAttribute('src','<%= asset_path('light_OFF_light.png') %>');
                    else
                        icon.setAttribute('src','<%= asset_path('light_ON.png') %>');
                }                
                icon.setAttribute('width','50');
                icon.setAttribute('height','50');
                icon.setAttribute('id', item.name+'icon')
                return icon;
            }else {
                //TEMPORARY
                var icon = document.createElement("img");
                icon.setAttribute('class','icon');
                icon.setAttribute('src','<%= asset_path('light_OFF_light.png') %>');
                icon.setAttribute('width','50');
                icon.setAttribute('height','50');
                icon.setAttribute('id', item.name+'icon')
                return icon;
            }
        }
        function generateLabel(item) {
            var lab = document.createElement('span');
            lab.innerHTML = item.label;
            lab.setAttribute('class','skills');
            lab.setAttribute('id', item.name+'label')
            return lab;
        }
        function generateButton(item, index) {
            if(item.type == "Switch") {
                var b = document.createElement('button');
                b.setAttribute('class', 'btn btn-primary');
                b.setAttribute('id', item.name+'button')
                b.setAttribute('onclick','switchIt(this.id,'+index+')');
                b.innerHTML = 'Turn ON/OFF';
                return b;
            }else if(item.type == "Dimmer") {
                var div = document.createElement('div');
                div.setAttribute('class', 'clickable');
                var div2 = document.createElement('div');
                div2.setAttribute('class', 'display');
                var div3 = document.createElement('div');
                div3.setAttribute('class', 'progress');
                div2.appendChild(div3);
                div.appendChild(div2);

                $('.clickable').bind('click', function (ev) {
                    var $div = $(ev.target);
                    var $display = $div.find('.display');

                    var offset = $div.offset();
                    var x = ev.clientX - offset.left;

                    $('.progress').width(x);
                });

                return div;
            }else {
                //TEMPORARY
                var b = document.createElement('button');
                b.setAttribute('class', 'btn btn-primary');
                b.setAttribute('id', item.name+'button')
                b.setAttribute('onclick','switchIt(this.id,'+index+')');
                b.innerHTML = 'Turn ON/OFF';
                return b;
            }
        }
        //state, type, name, label, tags
        function addItemToArray(item) {
            if(item.state == "NULL") {
                itemArray[numItems] = new itemClass("OFF", item.type, item.name, item.label, item.tags);
                updateState(itemArray[numItems].name, itemArray[numItems].state);
            }
            else
                itemArray[numItems] = new itemClass(item.state, item.type, item.name, item.label, item.tags);
            numItems++;
        }
        function switchIt(buttonname, index) {
            var name = buttonname.split('button')[0];
            var icon = document.getElementById(name+"icon");
            if (itemArray[index].state == "ON") {
                itemArray[index].state = "OFF";
                if(itemArray[index].label.includes("Light")) {
                    icon.src = "<%= asset_path('light_OFF_light.png') %>";
                }else if (itemArray[index].label.includes("TV")) {
                    icon.src = "<%= asset_path('tv_OFF.png') %>";
                }else //TEMPORARY
                    icon.src = "<%= asset_path('light_OFF_light.png') %>";
            }
            else {
                itemArray[index].state = "ON";
                if(itemArray[index].label.includes("Light")) {
                    icon.src = "<%= asset_path('light_ON.png') %>";
                }else if (itemArray[index].label.includes("TV")) {
                    icon.src = "<%= asset_path('tv_ON.png') %>";
                }else //TEMPORARY
                    icon.src = "<%= asset_path('light_ON.png') %>";
            }
            updateState(itemArray[index].name, itemArray[index].state);
            sendCommand(itemArray[index].name, itemArray[index].state);
        }
        function updateState( item, txtNewState ) {
            var request = $.ajax ( {
                type       : "PUT",
                url        : "http://localhost:3000/rest/updatestate" ,
                data       : item+" "+txtNewState,
                headers    : { 'Content-Type': 'text/plain', 'Accept': 'text/plain' },
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        function sendCommand( item, txtCommand ) {
            var request = $.ajax ( {
                type       : "POST",
                url        : "http://localhost:3000/rest/sendcommand" ,
                data       : item+" "+txtCommand,
                headers    : { 'Content-Type': 'text/plain', 'Accept': 'text/plain' },
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        function getState(item)
        {
            var request = $.ajax ( {
                type       : "GET",
                url        : "localhost:3000/rest/getstate",
                data       : item,
                headers    : { "Accept": "text/plain"},
            });

            request.done( function(data) { 
                console.log( "Success: Status=" + data );
            });

            request.fail( function(jqXHR, textStatus ) { 
                console.log( "Failure: " + textStatus );
            });
        }
        
        
    </script>
</html>   
